<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116915280-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-116915280-4');
    </script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Greater Zion</title>

    <!-- PWA STUFF -->
    <link rel='manifest' href='/manifest.json'>
    <link rel="apple-touch-icon" href="apple-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="57x57" href="apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="apple-icon-180x180.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Greater Zion">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/pwaIcons/icon_828x1792.png"/>
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/pwaIcons/icon_1242x2688.png"/>
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/pwaIcons/icon_1125x2436.png"/>
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/pwaIcons/icon_1242x2208.png"/>
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/pwaIcons/icon_750x1334.png"/>
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/pwaIcons/icon_2048x2732.png"/>
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/pwaIcons/icon_1668x2224.png"/>
    <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/pwaIcons/icon_640x1136.png"/>
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/pwaIcons/icon_1668x2388.png"/>
    <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/pwaIcons/icon_1536x2048.png"/>


    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>
</head>
<body>
    <div id="app">
        <v-app>
            <v-main>
                <!-- HOME -->
                <div v-if="page=='home'" @click="showInstallMessage">
                    <div id="headerImg">
                        <div class="headerText">
                            <h1>GREATER ZION REGION</h1>
                        </div>
                    </div>
                    <div class="contentWrapper">
                        <div class="homeItem" id="parking" @click="parkingClicked();">
                            <p class="live">Live<img class="liveImg" src="icons/liveImg.svg"></p>
                            <div class="homeText">
                                <h2>Parking</h2>
                            </div>
                        </div>
                        <div class="homeItem" id="entrances" @click="entrancesClicked();">
                            <p class="live">Live<img class="liveImg" src="icons/liveImg.svg"></p>
                            <div class="homeText">
                                <h2>Entrances</h2>
                            </div>
                        </div>
                        <div class="homeItem" id="shuttles" @click="shuttlesClicked()">
                            <div class="homeText">
                                <h2>Shuttles</h2>
                            </div>
                        </div>
                        <div v-if="showInstallMessage" id="installContainer">
                            <div style="float: left;">
                                <img src="icons/plus.png" style="height: 25px; width: 25px; margin: 15px; margin-right: 5px; filter: invert(100%)">
                            </div>
                            <div style="display: inline-block; width: 80%">
                                <p style="margin: 6px;">Install this webapp on your device: tap &nbsp;<img src="icons/saveBtn.png" style="height: 20px; width: 16px; vertical-align: middle;">&nbsp; then Add to homescreen.</p>
                            </div>
                            <div class="arrow-down"></div>
                        </div>
                        <div v-if="showAndroidInstallMessage" id="androidInstallContainer">
                            <div style="float: left;">
                                <img src="icons/plus.png" style="height: 25px; width: 25px; margin: 15px; margin-right: 5px; filter: invert(100%)">
                            </div>
                            <div style="display: inline-block; width: 80%">
                                <p style="margin: 6px;">Install this webapp on your device: tap &nbsp;<img src="icons/hamburgerBtn.png" style="height: 14px; width: auto; vertical-align: middle;">&nbsp; then Add to homescreen.</p>
                            </div>
                            <div class="arrow-up"></div>
                        </div>
                    </div>
                </div>

                <!-- BOTTOM NAV -->
                <div>
                    <v-app-bar class="bottomNavBar">
                        <v-btn text width="50%" height="55px" tile :class="{homeTabFocus: home_selected}" @click="page='home'; bottomNavImg('home');">
                            <div >
                                <img :src="homeImg" alt="home">
                                <div>Home</div>
                            </div>
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn text width="50%" height="55px" tile :class="{mapTabFocus: map_selected}" @click="page='map'; bottomNavImg('map');">
                            <div>
                                <img :src="mapImg" alt="map">
                                <div>Map</div>
                            </div>
                        </v-btn>
                    </v-app-bar>
                </div>
            </v-main>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="app.js"></script>
</body>
</html>