<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116915280-4"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-116915280-4');
    </script>
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta content="text/html;charset=utf-8" http-equiv="Content-Type">
    <meta content="utf-8" http-equiv="encoding">
    <title>Greater Zion</title>

    <!-- PWA STUFF -->
    <link rel='manifest' href='/manifest.json'>
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="60x60" href="apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="76x76" href="apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="apple-icon-152x152.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-title" content="Greater Zion">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/pwaIcons/icon_828x1792.png"/>
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/pwaIcons/icon_1242x2688.png"/>
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/pwaIcons/icon_1125x2436.png"/>
    <link rel="apple-touch-startup-image" media="screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait)" href="/pwaIcons/icon_1242x2208.png"/>
    <link rel="apple-touch-startup-image" media="screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/pwaIcons/icon_750x1334.png"/>
    <link rel="apple-touch-startup-image" media="screen and (device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/pwaIcons/icon_2048x2732.png"/>
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/pwaIcons/icon_1668x2224.png"/>
    <link rel="apple-touch-startup-image" media="screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/pwaIcons/icon_640x1136.png"/>
    <link rel="apple-touch-startup-image" media="screen and (device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/pwaIcons/icon_1668x2388.png"/>
    <link rel="apple-touch-startup-image" media="screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait)" href="/pwaIcons/icon_1536x2048.png"/>


    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.17.2/firebase-firestore.js"></script>
</head>
<body>
    <div id="app">
        <v-app>
            <v-main>
                <!-- HOME -->
                <div v-if="page=='home'" @click="showInstallMessage=false">
                    <div id="headerImg">
                        <div class="headerText">
                            <h1>GREATER ZION REGION</h1>
                            <h2>Your source for current conditions in Zion National Park</h2>
                        </div>
                    </div>
                    <div class="contentWrapper">
                        <div class="homeItem" id="parking" @click="parkingClicked();">
                            <p class="live">Live<img class="liveImg" src="icons/liveImg.svg"></p>
                            <div class="homeText">
                                <h2>PARKING</h2>
                            </div>
                        </div>
                        <div class="homeItem" id="entrances" @click="entrancesClicked();">
                            <p class="live">Live<img class="liveImg" src="icons/liveImg.svg"></p>
                            <div class="homeText">
                                <h2>ENTRANCES</h2>
                            </div>
                        </div>
                        <div class="homeItem" id="shuttles" @click="shuttlesClicked()">
                            <div class="homeText">
                                <h2>SHUTTLES</h2>
                            </div>
                        </div>
                        <div v-if="showInstallMessage" id="installContainer">
                            <div style="float: left;">
                                <img src="icons/plus.png" style="height: 25px; width: 25px; margin: 15px; margin-right: 5px; filter: invert(100%)">
                            </div>
                            <div style="display: inline-block; width: 80%">
                                <p style="margin: 6px;">Install this webapp on your device: tap &nbsp;<img src="icons/saveBtn.png" style="height: 20px; width: 16px; vertical-align: middle;">&nbsp; then Add to homescreen.</p>
                            </div>
                            <div class="arrow-down"></div>
                        </div>
                        <div v-if="showAndroidInstallMessage" id="androidInstallContainer">
                            <div style="float: left;">
                                <img src="icons/plus.png" style="height: 25px; width: 25px; margin: 15px; margin-right: 5px; filter: invert(100%)">
                            </div>
                            <div style="display: inline-block; width: 80%">
                                <p style="margin: 6px;">Install this webapp on your device: tap &nbsp;<img src="icons/hamburgerBtn.png" style="height: 14px; width: auto; vertical-align: middle;">&nbsp; then Add to homescreen.</p>
                            </div>
                            <div class="arrow-up"></div>
                        </div>
                    </div>
                </div>

                <!-- PARKING -->
                <div v-if="page=='parking'">
                    <div class="pageImgContainer">
                        <img class="pageImage" :src="parkingMap">
                    </div>
                    <img class="backArrow" src="icons/arrow_back.svg" @click="page='home'">
                    <div class="contentWrapper">
                        <div class="pageBtnWrapper" :class="{pageBtnFocus : visitor_selected}" @click="parkingBtn('visitor')">
                            <p class="pageBtnTitle pTitle">Zion Visitor Lot</p>
                            <p class="pageBtnText pText">Distance: {{zionParkingDistance}}</p>
                            <svg height="20" width="300">
                                <rect class="background" width="300" height="13" style="fill:#dbdbdb;" />
                                <rect class="overlayLine" id="zionVisitorLine" :width="zionVisitorBar" height="13" :fill="zionVisitorSvg" >
                                    <animate attributeName="width" from="0" :to="zionVisitorBar" dur=".75s" :fill="zionVisitorSvg" />
                                </rect>
                            </svg>
                            <p class="pageBtnMiniText">Filled Yesterday: <b>{{zionFillTime}}</b></p>
                        </div>
                        <div class="pageBtnWrapper" :class="{pageBtnFocus : overflow_selected}" @click="parkingBtn('overflow')">
                            <p class="pageBtnTitle pTitle">Overflow Lot</p>
                            <p class="pageBtnText pText">Distance: {{overflowDistance}}</p>
                            <svg height="20" width="300">
                                <rect class="background" width="100%" height="13" style="fill:#dbdbdb;" />
                                <rect class="overlayLine" id="zionVisitorLine" :width="overflowBar" height="13" :fill="overflowSvg" >
                                    <animate attributeName="width" from="0" :to="overflowBar" dur=".75s" :fill="overflowSvg" />
                                </rect>
                            </svg>
                            <p class="pageBtnMiniText">Filled Yesterday: <b>{{overflowFillTime}}</b></p>
                        </div>
                    </div>
                    <div class="shuttleMessage">
                        <img class="bus" src="icons/bus.svg">
                        <div class="busTextWrapper">
                            <p class="shuttleMsgTitle"><img class="arrowDown noMarginLeft" src="icons/arrow_down.svg">Springdale Parking<img class="arrowDown" src="icons/arrow_down.svg"></p>
                            <p class="shuttleMsgText">Park in 1 of 3 zones below and ride the shuttle into the park for $1!</p>
                        </div>
                    </div>
                    <div class="contentWrapper">
                        <div class="pageBtnWrapper2" :class="{pageBtnFocus : zoneA_selected}" @click="parkingBtn('zoneA')">
                            <p class="pageBtnTitle pTitle2">Zone A</p>
                            <p class="pageBtnText pText2">Price: $20/day</p>
                            <p class="pageBtnText pText2">The nearest shuttle stop is the Zion Visitor Center. This is approximately a 3 mile walk.</p>
                        </div>
                        <div class="pageBtnWrapper2" :class="{pageBtnFocus : zoneB_selected}" @click="parkingBtn('zoneB')">
                            <p class="pageBtnTitle pTitle2">Zone B</p>
                            <p class="pageBtnText pText2">Price: $15/day</p>
                            <p class="pageBtnText pText2">The nearest shuttle stop is the Zion Visitor Center. This is approximately a 3 mile walk.</p>
                        </div>
                        <div class="pageBtnWrapper2" :class="{pageBtnFocus : zoneC_selected}" @click="parkingBtn('zoneC')">
                            <p class="pageBtnTitle pTitle2">Zone C</p>
                            <p class="pageBtnText pText2">Price: $12/day</p>
                            <p class="pageBtnText pText2">The nearest shuttle stop is the Zion Visitor Center. This is approximately a 3 mile walk.</p>
                        </div>
                    </div>
                    <div class="push"></div>
                </div>

                <!-- ENTRANCES -->
                <div v-if="page=='entrances'">
                    <div class="pageImgContainer">
                        <img class="pageImage" :src="entranceMap">
                    </div>
                    <img class="backArrow" src="icons/arrow_back.svg" @click="page='home'">
                    <div class="contentWrapper">
                        <div class="pageBtnWrapper" :class="{pageBtnFocus : south_selected}" @click="entranceBtn('south')">
                            <img class="pageBtnImg" v-bind:src="southEntranceIcon">
                            <div class="pageBtnTextWrapper">
                                <p class="pageBtnTitle">South Entrance</p>
                                <p class="pageBtnText">Vehicle Entrance</p>
                                <p class="pageBtnText">Traffic: <b>{{southEntranceBusiness}}</b></p>
                            </div>
                        </div>
                        <div class="pageBtnWrapper" :class="{pageBtnFocus : east_selected}" @click="entranceBtn('east')">
                            <img class="pageBtnImg" v-bind:src="eastEntranceIcon">
                            <div class="pageBtnTextWrapper">
                                <p class="pageBtnTitle">East Entrance</p>
                                <p class="pageBtnText">Vehicle Entrance</p>
                                <p class="pageBtnText">Traffic: <b>{{eastEntranceBusiness}}</b></p>
                            </div>
                        </div>
                        <div class="pageBtnWrapper" :class="{pageBtnFocus : river_selected}" @click="entranceBtn('river')">
                            <img class="pageBtnImg" v-bind:src="riverEntranceIcon">
                            <div class="pageBtnTextWrapper">
                                <p class="pageBtnTitle">River Entrance</p>
                                <p class="pageBtnText">Vehicle Entrance</p>
                                <p class="pageBtnText">Traffic: <b>{{riverEntranceBusiness}}</b></p>
                            </div>
                        </div>
                        <div class="pageBtnWrapper" :class="{pageBtnFocus : kolob_selected}" @click="entranceBtn('kolob')">
                            <img class="pageBtnImg" v-bind:src="kolobEntranceIcon">
                            <div class="pageBtnTextWrapper">
                                <p class="pageBtnTitle">Kolob Entrance</p>
                                <p class="pageBtnText">Vehicle Entrance</p>
                                <p class="pageBtnText">Traffic: <b>{{kolobEntranceBusiness}}</b></p>
                            </div>
                        </div>
                    </div>
                    <div class="push"></div>
                </div>

                <!-- SHUTTLES -->
                <div v-if="page=='shuttles'">
                    <img id="staticMap" src="photos/map.svg">
                    <img class="backArrow" src="icons/arrow_back.svg" @click="page='home'">
                    <div class="shuttleWrapper" :class="{smallShuttleWrapper : smallShuttleMessage}">
                        <div class="shuttleHeader" @click="smallShuttleMessage = !smallShuttleMessage" >
                            <img class="warningIcon pushRight" src="icons/warning.svg"><h3 class="shuttleHeaderText">Important Shuttle Updates</h3><img class="warningIcon" src="icons/warning.svg"><img src="icons/grayArrow.svg" class="grayArrow" :class="{flipArrow : smallShuttleMessage}">
                        </div>
                        <div class="contentWrapper">
                            <div class="mainShuttleContainer">
                                <div class="shuttlesContainer">
                                    <div class="shuttleImgContainer"><img class="shuttleImg" src="icons/ticket.svg"></div>
                                </div>
                                <div class="shuttlesContainer2">
                                    <p class="sSub">Tickets are now required for all passengers to board the shuttle. </p>
                                    <p class="sText">This $1USD non-refundable ticket allows access to ride the shuttle into the park during a one hour block of time. Make sure to hang onto your ticket to  board the shuttle back into town!</p>
                                </div>
                            </div>
                            <div class="mainShuttleContainer">
                                <div class="shuttlesContainer">
                                    <div class="shuttleImgContainer"><img class="shuttleImg" src="icons/qrcode.svg"></div>
                                </div>
                                <div class="shuttlesContainer2">
                                    <p class="sSub">Does your shuttle ticket have a QR code?</p>
                                    <p class="sText">Tickets with a QR code allow you to board the Zion Shuttle at the Visitor Center. If you have a shuttle ticket without a QR code, you probably have a ticket for a private shuttle company, which board at the bridge.</p>
                                </div>
                            </div>
                            <div class="mainShuttleContainer">
                                <div class="shuttlesContainer">
                                    <div class="shuttleImgContainer"><img class="shuttleImg" src="icons/timer.svg"></div>
                                </div>
                                <div class="shuttlesContainer2">
                                    <p class="sSub">Shuttles are departing about every five minutes.</p>
                                    <p class="sText">The shuttles will aim to depart the Zion Canyon Visitor Center approximately every five minutes from 6:00 A.M. to 4:00 P.M. daily. </p>
                                </div>
                            </div>
                            <div class="mainShuttleContainer">
                                <div class="shuttlesContainer">
                                    <div class="shuttleImgContainer"><img class="shuttleImg" src="icons/shuttle.svg"></div>
                                </div>
                                <div class="shuttlesContainer2">
                                    <p class="sSub">Not all shuttle stops are currently in operation</p>
                                    <p class="sText">Initial boarding onto the shuttle takes place at the Visitor Center and at Zion Lodge for overnight guests with shuttle tickets. Human History Museum, Canyon Junction, and Court of the Patriarchs shuttle stops are currently closed. Shuttles will NOT stop at any of these locations in either direction. </p>
                                </div>
                            </div>
                            <div class="mainShuttleContainer">
                                <div class="shuttlesContainer">
                                    <div class="shuttleImgContainer"><img class="shuttleImg" src="icons/parking.svg"></div>
                                </div>
                                <div class="shuttlesContainer2">
                                    <p class="sSub">Shuttle tickets do not guarantee parking.</p>
                                    <p class="sText">Zion National Park often experiences parking limitations and traffic congestion. Please plan accordingly and allow time to walk from your parking spot to the Visitor Center. Paid parking options are available in Springdale, UT.</p>
                                </div>
                            </div>
                            <div class="shuttleBtnContainer">
                                <a href="https://www.nps.gov/zion/planyourvisit/zion-canyon-shuttle-tickets.htm"><div class="shuttleBtn">Learn More</div></a>
                                <a href="https://www.recreation.gov/ticket/facility/tour/3010"><div class="shuttleBtn purchase">Purchase Tickets</div></a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- MAP -->
                <div v-if="page=='map'">
                    <img class="backArrow" src="icons/arrow_back.svg" @click="page='home'; bottomNavImg('home')">
                    <img id="staticMapTab" src="photos/zion_national_park_map.jpg">
                    <a href="photos/zion_national_park_map.jpg" download="ZionMap"><img id="staticMapDownload" class="circleBtn download" src="icons/download.svg"></a>
                    <div class="pushSmall"></div>
                </div>

                <!-- BOTTOM NAV -->
                <div>
                    <v-app-bar class="bottomNavBar">
                        <v-btn text width="50%" height="55px" tile :class="{homeTabFocus: home_selected}" @click="page='home'; bottomNavImg('home');">
                            <div >
                                <img :src="homeImg" alt="home">
                                <div>Home</div>
                            </div>
                        </v-btn>
                        <v-spacer></v-spacer>
                        <v-btn text width="50%" height="55px" tile :class="{mapTabFocus: map_selected}" @click="page='map'; bottomNavImg('map');">
                            <div>
                                <img :src="mapImg" alt="map">
                                <div>Map</div>
                            </div>
                        </v-btn>
                    </v-app-bar>
                </div>
            </v-main>
        </v-app>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="app.js"></script>
</body>
</html>